@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic);

* {
	-webkit-font-smoothing:antialiased;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
	font-family:"Georgia";
	font-weight:300;
}

html {
	height:100%;
	width:100%;
}

img {
  max-width: 100%;
}

body {
	background:rgba(0,0,0,.1);
}

hr {
	border:1px solid #aaa;
	margin-bottom:0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

ul {
	list-style-type:none;
}

.active {
	background:#555;
	color:white;
}

.active:hover {
	background:#555;
}

/* HEADER */

.loading{
  width:112%;
  height:20px;
  margin-top:40px;
  overflow:hidden;
  color:#000;
  opacity:0;
}

/*.loading {
	position:relative;
	margin:0 auto;
	opacity:0;
}*/

.header-container {
	display:inline-block;
	position:relative;
	background:#484747;
	color:white;
	border:1px solid black;
	width:55%;
	height:100px;
	margin:10px;
	padding-left:30px;
	padding-top:10px;
	float:left;
	box-shadow: 0 0 2px gray;
	border-radius:2px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.header-container h2.title {
	font-size:2.5em;
	color:#ccc;
}
.login {
	background:#f8f8f8;
	border:1px solid transparent;
	box-shadow:0 0 2px gray;
	width:15%;
	height:110px;
	margin:10px;
	display:inline-block;
	position:relative;
	float:right;
	padding:10px;
	border-radius:2px;
	-webkit-transition:border 0.2s ease;
}
.login:hover {
	border:1px solid #555;
}

input {
	display:block;
	position:relative;
	width:90%;
	font-family:"Georgia";
	margin-bottom:10px;
	border:1px solid #ddd;
	padding:2px;
	-webkit-transition:border 0.2s ease;
}
input:hover {
	border:1px solid black;
}
input:focus {
	border:1px solid black;
}

.login-button {
	position:relative;
	display:inline-block;
	border:1px solid gray;
	box-shadow:0 0 1px gray;
	width:40%;
	margin-left:auto;
	margin-right:10px;
	text-align:center;
	background:#ccc;
	-webkit-transition:all 0.2s ease;
}
.login-button:hover {
	cursor:pointer;
	background:gray;
	color:white;
}
.login-button:active {
	background:black;
	color:white;
}
span {
	font-size:12px;
}

.acct {
	opacity:0;
	width:100%;
}

.acct > img {
	display:inline-block;
	position:relative;
	float:left;
	margin-top:-5px;
	margin-right:10px;
}

.info {
	position:relative;
	width:auto;
	display:inline-block;
	float:left;
}



/* MIDDLE CONTENT -- Prediction Market and Top Users */

.stats {
	background:white;
	border:1px solid transparent;
	position:relative;
	display:inline-block;
	margin:10px;
	padding:10px;
	width:70%;
	height:420px;
	float:left;
	box-shadow: 0 0 2px gray;
	border-radius:2px;
	-webkit-transition:border 0.2s ease;
}
.stats:hover{
	border:1px solid #555;
}

.stats > h1.title {
	display:block;
}

/* Prediction Table */
.prediction {
	border:1px solid transparent;
	width:450px;
	padding:10px;
	height:150px;
	position:relative;
	display:inline-block;
	-webkit-transition:border 0.2s ease;
}

.prediction:hover {
	border:1px solid #555;
}

table {
	/*border:1px solid black;*/
	width:400px;
	float:left;
}

thead {
	border:1px solid black;
}

thead>tr:hover {
	background:white;
}
th {
	border:1px solid black;
	-webkit-transition:all 0.2s ease;
}
th:hover{
	background:gray;
	cursor:pointer;
}
th:active{
	background: black;
	color:white;
}

tr {
	/*width:200px;*/
	padding:10px;
	/*border:1px solid black;*/
}

tr:hover{
	background:gray;
}

td {
	width:auto;
	/*border:1px solid black;*/
}

.graph {
	/*border:1px solid black;*/
	width:50%;
	height:225px;
	position:absolute;
	display:inline-block;
	float:right;
	right:1%;
	top:2%;
	background:white;
}

#chart {
	border:1px solid transparent;
	-webkit-transition:border 0.2s ease;
}

#chart:hover {
	border:1px solid #555;
}

#chart svg {
  height: 400px;
  background:white;
  width:100%;
}

.top-users {
	background:white;
	border:1px solid transparent;
	display:inline-block;
	width:200px;
	height:300px;
	position:relative;
	float:right;
	margin:10px;
	padding:10px;
	box-shadow:0 0 2px gray;
	border-radius:2px;
	-webkit-transition:border 0.2s ease;
}
.top-users:hover {
	border:1px solid #555;
}
.top-users>h1 {
	text-align: center;
}

.top-users > ul {
	margin-left:0;
}

.top-users>ol>li {
	/*text-align:center;*/
	margin-left:0;
	margin-bottom:5px;
}

.top-users>ol>li:hover {
	background:gray;
}

/* BOTTOM CONTENT */

.discussion {
	background:white;
	border:1px solid transparent;
	position:relative;
	display:inline-block;
	width:45%;
	height:200px;
	margin:10px;
	float:left;
	padding:10px;
	box-shadow:0 0 2px gray;
	border-radius:2px;
	-webkit-transition:border 0.2s ease;
}

.discussion:hover {
	border:1px solid #555;
}

.news {
	background:white;
	border:1px solid transparent;
	position:relative;
	width:45%;
	height:200px;
	margin:10px;
	float:right;
	display:inline-block;
	padding:10px;
	box-shadow:0 0 2px gray;
	border-radius:2px;
	-webkit-transition:border 0.2s ease;
}

.news:hover {
	border:1px solid #555;
}

body > hr {
	margin-top:15px;
}

footer {
	position:relative;
	/*border:1px dashed black;*/
	height:130px;
	margin-bottom:0;
	margin-top:30px;
	background:#444;
	color:#fff;
	padding:30px;
	box-shadow:0 3px 10px 0 #222 inset;
}

footer > div {
	position:relative;
	/*border:1px dashed black;*/
	width:50%;
	height:75px;
	text-align:center;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

/* MISCELLANEOUS */

h1.title{
	width:300px;
	display:inline;
}

h2.title{
	text-align:center;
	font-family:'Garamond';
	font-size:2em;
	margin-top:-10px;
}

#up {
	position:relative;
	width:20px;
	height:20px;
	margin-bottom:-10px;
	margin-top:-28px;
}

#up:after {
	content:'';
	position:relative;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 10px 17.3px 10px;
	border-color: transparent transparent #00ff3c transparent;
}

#down {
	position:relative;
	width:20px;
	height:20px;
	margin-top:10px;
	margin-bottom:-40px;
}

#down:after {
	content:'';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 17.3px 10px 0 10px;
	border-color: #ff005e transparent transparent transparent;
}

/* MEDIA QUERIES */

